<template name="addTask">
    <form role="form" id="addForm">
        <div class="form-group">
            <label class="control-label" for="title">Title:</label>
            <input name="title" id="title" type="text" value="" placeholder="Your Task Title" class="form-control"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description:</label>
            <textarea name="description" id="description" value="" placeholder="Your Task Description"
                      class="form-control" rows="4" cols="50"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="createdDate">Created Date:<span
                    class="glyphicon glyphicon-calendar"></span></label>
            <input type="text" class="form-control" name="createdDate" id="createdDate">
        </div>
        <div class="form-group">
            <label class="control-label" for="deadline">Deadline: <span
                    class="glyphicon glyphicon-calendar"></span></label>
            <input type="text" class="form-control" name="deadline" id="deadline">
        </div>
        <div class="form-group">
            <label class="control-label" for="priority">Priority:</label>
            <select name="priority" class="form-control" id="priority">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-success"/>
            <button type="button" class="btn btn-success back">Back</button>
        </div>
    </form>
</template>